@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Share');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Exo+2');



 *{
   font-family: inherit;

 }
.search-form .form-group {
  float: left!important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #000000;
  box-shadow: 0 0 8px #fff;
  border-radius: 25px;
  border: 1px solid #9a9a9a;
}
.search-form .form-group input.form-control {
  height: calc(1.55rem + 2px);
  padding: .375rem 2.75rem;
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
      top: 2px;
      z-index: 3;
      display: block;
      width: 32px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      color: #9a9a9a;
      left: initial;
      font-size: 24px;
  }


*{
box-sizing: border-box;


}
.p15{
  padding: 0 15px;

}
.muro{
  background-color: white;
  border: solid 1px black;


}


.coment input{
  height: 50px;
  width:500px;
  border: solid 1px #ccc;
  border-radius: 2%;
  margin-top: 20px;
}
.coment form{
  height: 100px;
  width: 838px;
  background-color: white;

  margin-top: 10px;
  border:inset 2px #cccc;
}


.main a{
  color: white;
}

.containerSearch{
    padding: 10%;
    text-align: center;
}
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;

}

#custom-search-input .search-query {
    width:100%;
    padding-right: 3px;
    padding-left: 15px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 5px 9px;
    margin-top: 6.5px;
    position: absolute;
    right:0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-left: solid 1px #ccc;
    color:#9a9a9a;
    cursor: unset;
    z-index: 2;
}

.search-query:focus{
    z-index: 0;
}




.otro{
  z-index: 2;
  height: 100px;
  width: 100px;
  border: solid 1px white;
  position: absolute;
  top:190px;
  left:405px;
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 1px #272727;
}


header{
  top:0px;
  background-color: #000000;
  color:#ffff;
  z-index: 2;
  width: 100%;
  position: fixed;
  height: 53.5px;
}

.titulo h1{


  font-family: 'Lobster', cursive;
  font-weight: bold;
  display: inline-block;
  -webkit-text-fill-color: #000000;
   -webkit-text-stroke-color: white;
   -webkit-text-stroke-width: 0.01px;

  }
  .titulo:hover{
    text-decoration: none;
    }
    header button{
    border-radius: 5px;
    box-shadow: 0px 2px 0px #4b4c4c;
    background:#9a9a9a;
    border:none;
    color: #292929;


    }
  header button:hover{
    background:  #9a9a9a;


    }
    .navBar a{
      -webkit-text-fill-color: #ffffff;
       -webkit-text-stroke-color: #9a9a;
       -webkit-text-stroke-width: 0.75px;

    }


.img1 {
  width: 100%;
  height: 300px;

}
.img1 img{
  width: 100%;
  height: 100%;
  border:1px solid #ccc;
  padding:2px;
  background-color:white ;

}

body{
  background-color: #cccc;
  line-height: 1;
}

aside{
  border-radius: 1px;
  box-shadow: inset 1px 1px 1px 1px #cccc;
  height: 300px;
  width: 285px;
  position: fixed;


}
aside .info{
  background-color: #ffff;
  height: 100%;
  padding: 10px;
}
main{
  margin:0px 130px;
position: relative;


}
section{
position: relative;


}
.slider{

background-color: #ffffff;
padding: 0px 0px;
-webkit-border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px  rgba(0,0,0,0.67);
height: 505px;


}
.slider img{
width: 100%;
height: 100%;
  max-height: 462px;
  border-bottom:  0.5px solid #202020;





}
.perfil{
position: absolute;
top: 67%;
left: 10%;

}
.perfil img{
      width: 220px;
      height: 220px;
      border-radius: 160px;
      border: 3px solid #ffff;
      box-shadow: 0px 10px 22px 2px  rgba(0,0,0,0.67);


}
.perfil .nameUsuario{
font-family: 'Exo 2', sans-serif;
font-size: 30px;
position: relative;
top: 44px;
right:1%;
font-weight:600;
color:#202020;
text-shadow: 2px 5px 8px rgba(100, 100, 100, 1);

}


.slider ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 20s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
section .informacion{
background-color: white;
border-radius: 10px;
box-shadow: 0px 2px 8px 0px  rgba(0,0,0,0.67);
padding: 20px;
height: 279px;


}

section form input{
width: 63%;
padding:50px;
box-shadow: 0px 2px 8px 0px  rgba(0,0,0,0.67);
border-radius: 10px;
border-width: inherit;
height: 111px;


}
.posteo{
  overflow: hidden;

border-top-left-radius:15px;
border-top-right-radius:15px;
height: 100%
}
.posteo p{
  margin-top: 15px
}
.posteo img{
      width: 50px;
      height: 50px;
      position: relative;
      left: 14%;
      top: 23px;
      border-radius: 160px;
      border: 3px solid #ffff;



}
.posteo .nameUsuarioPost{
  font-family: 'Exo 2', sans-serif;
  font-size: 15px;
  position: relative;
  top:20px;
 left: 15%;
  font-weight:600;
  color:#202020;


}
.posteo .post{
background-color: #ffffff;
border-left: 1px solid #e9ecef;
min-height: 120px;
border-top-right-radius: 20px;


}
.posteo .postImg{
background-color: #ffffff;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;




}
